<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>@ViewBag.Title  - Fabrica de voluntari</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/favicon.ico">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/colors.css">
    <link rel="stylesheet" href="~/Content/versions.css">
    <link rel="stylesheet" href="~/Content/responsive.css">
    <link rel="stylesheet" href="~/Content/custom.css">

    <!-- Modernizer for Portfolio -->
    <script src="js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="realestate_version">

    <div id="preloader">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/wwwroot/images/logo_4x4.png" height="45" alt="image"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="active" href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="@Url.Action("Index","Home")">Despre noi</a></li>
                        <li><a href="@Url.Action("Index","Home")">Proiecte</a></li>
                        <li><a href="@Url.Action("Index","Home")">Galerie</a></li>
                        <li><a href="@Url.Action("Index","Home")">Contact</a></li>
                        <li><a href="@Url.Action("Index","Home")">Contul meu</a></li>
                        <li class="social-links"><a href="https://www.facebook.com/FabricaDeVoluntari/"><i class="fa fa-facebook global-radius"></i></a></li>
                        <li class="social-links"><a href="#"><i class="fa fa-instagram global-radius"></i></a></li>
                        <li class="social-links"><a href="#"><i class="fa fa-linkedin global-radius"></i></a></li>
                        <li class="search-option">
                            <button class="search tran3s dropdown-toggle" id="searchDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <form action="#" class="p-color-bg dropdown-menu tran3s" aria-labelledby="searchDropdown">
                                <input type="text" placeholder="Search....">
                                <button class="p-color-bg"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <img src="~/wwwroot/images/logo_4x4.png" height="100" alt="">
                        </div>
                        <p>Dacă Vrei - Poți, dacă Poți - Știi, dacă Știi, nu se poate să nu Vrei! Totul ține de Voință!</p>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Info Link</h3>
                        </div>

                        <ul class="twitter-widget footer-links">
                            <li><a href="#"> Link </a></li>
                            <li><a href="#"> Link </a></li>
                            <li><a href="#"> Link </a></li>
                        </ul>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:contact@fabricadevoluntari.ro">contact@fabricadevoluntari.ro</a></li>
                            <li><a href="#">www.fabrica-de-voluntari.ro</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Social</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="https://www.facebook.com/FabricaDeVoluntari/"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a href="https://github.com/AdrianCert/"><i class="fa fa-github"></i> Github</a></li>
                            <li><a href="https://www.instagram.com/explore/locations/109254337107933/clubul-fabrica-de-voluntari/"><i class="fa fa-instagram"></i> Instagram</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">All Rights Reserved. &copy; @DateTime.Now.Year <a href="@Url.Action("Index","Home")">Fabrica de Voluntari</a></p>
                </div>

                <div class="footer-right">
                    <form method="get" action="#">
                        <input placeholder="Abonează-te la newsletter-ul nostru . ." name="mail">
                        <i class="fa fa-envelope-o"></i>
                    </form>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="~/Scripts/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/portfolio.js"></script>
    <script src="~/Scripts/hoverdir.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>